.form {
  padding: 3rem 0;

  &__group:not(:last-child) {
    padding-bottom: 3rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    width: 85%;
    height: 20%;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 1);
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid orangered;
      }
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__input:placeholder-shown + &__label {
    // + means the sibling
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3.5rem);
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.2s;
  }

  &__radio-group {
    width: 40%;
    display: inline-block;
    @include respond(phone) {
      display: block;
      margin-bottom: 1.5rem;
    }
  }
  
  &__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding: 3.5rem 2.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: -10px;

    

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: all 0.1s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
