/* golbal rules */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.parent {
  background-color: #eee;
}

.container {
  width: 85%;
  margin: auto;
}

/* Small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */
/* Medium */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */
/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* end golbal rules */

/* components */

.special-heading {
  color: #EBECED;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
  color: #777;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

/* end components */


/* header */

.header {
  background-color: #fff;
  padding: 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .logo {
  width: 15%;
  height: 15%;
}

@media (min-width: 600px) {
  .header .logo {
    width: 5%;
    height: 5%;
  }
}

.links .icon {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.links .bar {
  background-color: #6b6b6b;
  width: 30px;
  height: 2px;
  margin-bottom: 4px;
}

.links .bar-2 {
  width: 20px;
  transform: translateX(10px);
  transition: all 0.4s;
}

.links:hover .bar-2 {
  width: 100%;
  transform: translateX(0px);
}

.links .nav {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #f6f6f6;
  /* padding: 20px 70px 10px 25px; */
  padding: 15px 0 0;
  top: 18px;
  right: 0;
  border-radius: 5px;
}

.links .nav::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.links .nav li {
  margin-bottom: 15px;
  border-bottom: 2px solid #eeeeee;
  padding-right: 120px;
  padding-bottom: 15px;
  padding-left: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.links .nav li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.links .nav li:hover a {
  transform: translateX(10px);
}

.links .nav a {
  text-decoration: none;
  display: block;
  color: #000;
  transition: all 0.3s;
  user-select: none;
}

.links:hover .nav {
  display: block;
}

.nav:hover {
  display: block;
}

/* end header */

/* intro */

.intro {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: 92vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-content h1 {
  color: var(--main-color);
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.intro-content p {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .intro {
    height: 82vh;
  }
  .intro-content h1 { 
    font-size: 40px;
  }
  .intro-content p {
    margin: auto;
    width: 80%;
    font-size: 15px;
  }
}

/* end intro */


/* work */

.work {
  background-color: #F6F6F6;
}

.work .container {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.work .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work .item h2 {
  text-transform: capitalize;
  font-weight: 800;
  margin: 30px 0 0 0;
}

.work .item i {
  color: var(--main-color);
}

.work .item p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

@media (max-width: 600px) {
  .work .container {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .work .item h2 {
    font-size: 16px;
  }
}
/* end work */

/* services */

.services {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.services-items {
  display: grid;
  padding-top: 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 50px;
}

.services-items .item {
  display: flex;
}

.services-items .item .text {
  margin-left: 35px;
  margin-bottom: 30px;
}


.services-items .item i {
  color: var(--main-color);
}

.services-items .item h3 {
  margin: 0;
}

.services-items .item p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}

.item-palette {
  grid-column: 1 / 2;
}

.item-square {
  grid-column: 2 / 3;
}

.item-sketch {
  grid-column: 1 / 2;
}

.item-pencil {
  grid-column: 2 / 3;
}

.services-items .ser-image {
  grid-column: 3 / 4;
  grid-row: 1 / end;
  justify-self: center;
  align-self: flex-start;
  position: relative;  
}

.services-items .ser-image img {
  width: 260px;
}

.services-items .ser-image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  background-color: #2C4755;
  top: -50px;
  right: -50px;
  z-index: -1;
}

@media (max-width: 1000px) {

  .services-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .services-items .ser-image {
    display: none;
  }
}

@media (max-width: 600px) {
  .services-items {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .services-items .item {
    display: flex;
    flex-direction: column;
  }

  .services-items .item .text {
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 30px;
  }
}
/* end services */

